{% extends "base.html" %}

{% block content %}

<h2>Edit Country</h2>
<form action="/countries/{{ country.id }}" method="POST">
    <div class="central">
        <label for="continent"> Continent: </label>
        <select name="continent_id" id="continent">
            {% for continent in continents %}
            <option value="{{ continent.id }}" {% if sel_continent == continent.id %}
            selected="selected"
          {% endif %}>{{ continent.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="central">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ country.name }}">
        <button type="submit" class="btn btn--action">
            <i class="far fa-plus-square" style="color: rgb(28, 111, 28);"></i>
        </button>
    </div>
</form>

{% endblock %}