{% extends "base.html" %}

{% block content %}



<div class="main-header">
    <button type="button" class="btn btn--action">
        <a href="/countries/new"><i class="fas fa-plus-square" style="color: orange;"></i></a>
    </button>
    <h2>All Countries</h2>
</div>
<hr>

{% for country in countries %}

<section style="border-color: {{ 'green' if country.visited == true else 'red'}};">
    <div class="panel-container">
        <div class="continent-container">
            <h4>({{ country.continent.name }})</h4>
        </div>
        <div class="place-link">
            <a href="/countries/{{ country.id }}">{{ country.name }}</a>
        </div>
        <div class="visit">
            <div class="not-visited" style="display: {{ 'none' if country.visited == true }};">
                <i class="fas fa-times" style="color: red"></i>
                <label for="visited">(Not Visited)</label>
            </div>
            <div class="visited" style="display: {{ 'none' if country.visited == false }};">
                <i class="fas fa-check-circle" style="color: green"></i>
                <label for="visited">(Visited)</label>
            </div>
        </div>
        <div class="cities-container">
            {% for city in cities %}
                    {% if city.country.id == country.id %}
                        {{city.name}}, 
                    {% endif %}
                {% endfor %}
        </div>
        <div class="trash">
            <form action="/countries/{{ country.id }}/delete" method="POST">
                <button type="submit" class="btn btn--action">
                    <i class="fas fa-trash-alt" style="color: red;"></i>
                </button>
            </form>
        </div>
    </div>
</section>

{% endfor %}
{% endblock %}