{% extends "base.html" %}

{% block content %}

<h2>All Countries</h2>

<div>
    <button type="button" class="btn btn--action">
        <a href="/countries/new"><i class="fas fa-plus-square" style="color: orange;"></i></a>
    </button>
</div>
<hr>

{% for country in countries %}

<section>
    <table>
        <tr>
            <td>
                <h4>({{ country.continent.name }})</h4>
            </td>
            <td>
                <a href="/countries/{{ country.id }}">{{ country.name }}</a>
            </td>
            <td>
                {% for city in cities %}
                    {% if city.country.id == country.id %}
                        {{city.name}}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                <form action="/countries/{{ country.id }}/delete" method="POST">
                    <button type="submit" class="btn btn--action">
                        <i class="fas fa-trash-alt" style="color: red;"></i>
                    </button>
                </form>
            </td>
            <td>
                
            </td>
        </tr>
    </table>
    <!-- {% set id = country.id %}
    
    {% for city in cities %} <h4> {{ city.name }} </h4> {% endfor %} -->
    <hr>
</section>

{% endfor %}
{% endblock %}