{% extends 'base.html' %}

{% block content %}
<h1>Add a New Country</h1>

<form action="/countries" method="POST">
  <label for="continent">Select a Continent:</label>
    <select name="continent_id" id="continent">
        {% for continent in continents %}
        <option value="{{ continent.id }}">{{ continent.name }}</option>
        {% endfor %}
    </select>

  <label for="name">Name of the Country:</label>
  <input type="text" id="name" name="name">
  <input class="btn btn--action" type='submit' value="Add">
</form>

{% endblock %}