{% extends "base.html" %}

{% block content %}

<h2>Add a New Country</h2>

<form action="/countries" method="POST">
  <!-- continent dropbox -->  
  <label for="continent">Select a Continent:</label>
  <select name="continent_id" id="continent">
      {% for continent in continents %}
      <option value="{{ continent.id }}">{{ continent.name }}</option>
      {% endfor %}
  </select>
  <br>
  <!-- country field -->
  <div class="central">
    <label for="name">Name of the Country:</label>
    <input type="text" id="name" name="name" required autofocus>
    <button type="submit" class="btn btn--action">
      <i class="far fa-plus-square" style="color: rgb(28, 111, 28);"></i>
    </button>
  </div>
</form>

{% endblock %}