{% extends "base.html" %}

{% block content %}
<!-- Country line -->
<div class="place-bar">
    <div class="left-side">
        <div class="return-btn">
            <a href="/countries">({{ country.continent.name }})</a>
        </div>
        <div>
            <h2> {{country.name}} </h2>
        </div>
    </div>
    <div class="right-side">
        <div class="visit">
            <div class="not-visited" style="display: {{ 'none' if country.visited == true }};">
                <i class="fas fa-times" style="color: red"></i>
                <label for="visited">Not Visited</label>
            </div>
            <div class="visited" style="display: {{ 'none' if country.visited == false }};">
                <i class="fas fa-check-circle" style="color: green"></i>
                <label for="visited">Visited</label>
            </div>
        </div>
        <div>
            <button class="btn btn--action">
                <a href="/countries/{{ country.id }}/edit"><i class="fas fa-edit" style="color: black;"></i></a>
            </button>
        </div>
        <div>
            <form action="/countries/{{ country.id }}/delete" method="POST">
                <button type="submit" class="btn btn--action"><i class="fas fa-trash-alt" style="color: red;"></i></button>
            </form>
        </div>
    </div>
    
</div>

<hr>
<!-- ADD City button -->
<div class="add-container">
    <button type="button" class="btn btn--action">
        <a href="/cities/{{ country.id }}/new"><i class="fas fa-plus-square" style="color: orange;"></i></a>
    </button>
    <h4>Add City to list</h4>
</div>
<!-- List of Cities -->
{% for city in cities %}
<section style="border-color: {{ 'green' if city.visited == true else 'red'}};">
    <div class="panel-container">
        <div class="left-side">
            <div class="place-link country-container">
                <a href="/cities/{{ city.id }}">{{ city.name }}</a>
            </div>
        </div>
        <div class="right-side">
            <div class="comment-container">
                <input type="checkbox" class="show comment" id="comment{{ city.id }}">
                <button class="btn btn--action">
                    <label for="comment{{ city.id }}"><i class="fas fa-comment-dots white"></i></label>
                </button>
                <div class="hide cloud">
                    <p>{{ city.comment }}</p>
                </div>
            </div>
            <div class="visit">
                <div class="not-visited" style="display: {{ 'none' if city.visited == true }};">
                    <i class="fas fa-times" style="color: red"></i>
                    <label for="visited">Not Visited</label>
                    <form action="/cities/{{ city.id }}/visit" method="POST">
                        <button class="btn btn--action" type="submit">
                            <i class="fas fa-exchange-alt" style="color: green;"></i>
                        </button>
                    </form>
                </div>
                <div class="visited" style="display: {{ 'none' if city.visited == false }};">
                    <i class="fas fa-check-circle" style="color: green"></i>
                    <label for="visited">Visited</label>
                </div>
            </div>
            <div class="trash">
                <form action="/cities/{{ city.id }}/delete" method="POST">
                    <button type="submit" class="btn btn--action"><i class="fas fa-trash-alt" style="color: red;"></i></button>
                </form>
            </div>
        </div>
        
    </div>
</section>
<hr>
{% endfor %}
    <!-- comment filed -->
<h4>Sights:</h4>
{% for sight in sights %}
<section style="border-color: {{ 'green' if sight.visited == true else 'red'}};">
    <div class="panel-container">
        <div class="left-side">
            <div class="place-link country-container">
                <a href="/sights/{{ sight.id }}">{{ sight.name }}</a>
            </div>
        </div>
        <div class="right-side">
            <div class="comment-container">
                <input type="checkbox" class="show comment" id="comment{{ sight.id }}">
                <button class="btn btn--action">
                    <label for="comment{{ sight.id }}"><i class="fas fa-comment-dots white"></i></label>
                </button>
                <div class="hide cloud">
                    <p>{{ sight.comment }}</p>
                </div>
            </div>
            <div class="visit">
                <div class="not-visited" style="display: {{ 'none' if sight.visited == true }};">
                    <i class="fas fa-times" style="color: red"></i>
                    <label for="visited">Not Visited</label>
                    <form action="/sights/{{ sight.id }}/visit" method="POST">
                        <button class="btn btn--action" type="submit">
                            <i class="fas fa-exchange-alt" style="color: green;"></i>
                        </button>
                    </form>
                </div>
                <div class="visited" style="display: {{ 'none' if sight.visited == false }};">
                    <i class="fas fa-check-circle" style="color: green"></i>
                    <label for="visited">Visited</label>
                </div>
            </div>
            <div class="trash">
                <form action="/sights/{{ sight.id }}/delete" method="POST">
                    <button type="submit" class="btn btn--action"><i class="fas fa-trash-alt" style="color: red;"></i></button>
                </form>
            </div>
        </div>
        
    </div>
</section>
<hr>
{% endfor %}

{% endblock %}