{% extends "base.html" %}

{% block content %}

<table>
    <tr>
        <td>
            <div class="add btn">
                <a href="/cities/{{ country.id }}/new">Add New City in:</a>
            </div>
        </td>
        <td>
            <h4>({{ country.continent.name }})</h4>
        </td>
        <td>
            <h2> {{country.name}} </h2>
        </td>
        <td>
            <a href="/countries/{{ country.id }}/edit">Edit Name</a>
        </td>
        <td>
            <form action="/countries/{{ country.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<!-- visited status checkbox -->
<hr>
{% for city in cities %}
<section>
    <table>
        <tr>
            <td>
                <a href="/cities/{{ city.id }}">{{ city.name }}</a>
            </td>
            <td>
                <p>{{ city.comment }}</p>
            </td>
            <td>
                <form action="/cities/{{ city.id }}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
</section>
<hr>
{% endfor %}
    <!-- comment filed -->
<h4>Sights:</h4>
<ul>
    <!-- sight list -->
</ul>
<h4>Activities:</h4>
<ul>
    <!-- activity list -->
</ul>

{% endblock %}