{% extends "base.html" %}

{% block content %}

<h2>Update a City</h2>
<h4> {{ city.country.name }}</h4>
<form action="/cities/{{ city.id }}" method="POST">
    <div>
        <!-- <label for="country"> Country: </label>
        <select name="country_id" id="country">
            {% for country in countries %}
            <option value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
        </select> -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ city.name }}">
        
        <label for="comment">Comment:</label>
        <textarea name="comment" id="comment" cols="30" rows="10">{{ city.comment }}</textarea>
        <input class="btn btn--action" type='submit' value="submit">
    </div>
</form>

{% endblock %}