{% extends 'base.html' %}

{% block content %}

<h2>All Cities</h2>

<div class="add btn">
  <a href="/cities/new">Add New City</a>
</div>
<hr>

{% for city in cities %}

<section>
  <table>
    <tr>
      <td> 
        <h4>({{ city.country.name }})</h4> 
      </td>
      <td> 
        <a href="/cities/{{ city.id }}">{{ city.name }}</a>
      </td>
      <td> 
        {{ city.visited }} 
      </td>
      <td> 
        {{ city.comment }} 
      </td>
      <td>
        <form action="/cities/{{ city.id }}/delete" method="POST">
          <input type="submit" value="Delete">
      </form>
      </td>
    </tr>
  </table>
</section>
{% endfor %}


{% endblock %}