{% extends 'base.html' %}

{% block content %}
<h1>Cities</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Visited</th>
    <th></th>
    <th>Comment</th>
    <th></th>
    <th>Sight</th>
    <th></th>
    <th>Activity</th>
    <th></th>
    <th></th>
  </tr>
  {% for city in cities %}
  <tr>
    <td> {{city.name}} </td>
    <td></td>
    <td> {{city.visited}} </td>
    <td></td>
    <td> {{city.comment}} </td>
    <td></td>
    <td> {{city.sight}} </td>
    <td></td>
    <td> {{city.activity}} </td>
  </tr>
  {% endfor %}

</table>
{% endblock %}