{% extends "base.html" %}

{% block content %}

<h2>Add a New City</h2>

<form action="/cities" method="POST">
  <!-- country dropbox -->
  <label for="country">Select a Country:</label>
    <select name="country_id" id="country">
        {% for country in countries %}
        <option value="{{ country.id }}" {% if sel_country.id == country.id %}
          selected="selected"
        {% endif %}>
          {{ country.name }}
        </option>
        {% endfor %}
    </select>
    <br>
  <!-- name field -->
    <div class="central">
      <label for="name">Name of the City:</label>
      <input type="text" id="name" name="name" required autofocus>
      <button type="submit" class="btn btn--action">
        <i class="far fa-plus-square" style="color: rgb(28, 111, 28);"></i>
      </button>
    </div>
    
  <!-- visited checkbox -->
    <br>
  <!-- comment field-->
    <label for="comment">Comment:</label>
    <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
    
</form>

{% endblock %}