{% extends "base.html" %}

{% block content %}

<table>
    <tr>
        <td>
            <h4>({{ city.country.name }})</h4>
        </td>
        <td>
            <h2> {{city.name}} </h2>
        </td>
        <td>
            <a href="/cities/{{ city.id }}/edit">Edit Name</a>
        </td>
        <td>
            <form action="/cities/{{ city.id }}/delete" method="POST">
                <input type="submit" value="Delete">
        </td>
    </tr>
</table>
<!-- visited status checkbox -->
<div>
    <label for="visited">Visited?</label>
    <input type="checkbox" name="visited" id="visited" value= "{{ city.visited }}">
</div>
<hr>
<!-- comment -->
<h4>Comment</h4>
{{ city.comment }}
<hr>
<h4>Sights:</h4>
<ul>
    <!-- sight list -->
</ul>
<hr>
<h4>Activities:</h4>
<ul>
    <!-- activity list -->
</ul>

{% endblock %}