{% extends "base.html" %}

{% block content %}
<!-- City line -->
<div class="place-bar">
    <div class="left-side">
        <div class="return-btn">
            <a href="/countries/{{ city.country.id }}">({{ city.country.name }})</a>
        </div>
        <div>
            <h2> {{city.name}} </h2>
        </div>
    </div>
    <div class="right-side">
        <div class="visit">
            <div class="not-visited" style="display: {{ 'none' if city.visited == true }};">
                <i class="fas fa-times" style="color: red"></i>
                <label for="visited">Not Visited</label>
                <form action="/cities/{{ city.id }}/visit" method="POST">
                    <button class="btn btn--action" type="submit">
                        <i class="fas fa-exchange-alt" style="color: green;"></i>
                    </button>
                </form>
            </div>
            <div class="visited" style="display: {{ 'none' if city.visited == false }};">
                <i class="fas fa-check-circle" style="color: green"></i>
                <label for="visited">Visited</label>
            </div>
        </div>
        <div>
            <button class="btn btn--action">
                <a href="/cities/{{ city.id }}/edit"><i class="fas fa-edit" style="color: black;"></i></a>
            </button>
        </div>
        <div>
            <form action="/cities/{{ city.id }}/delete" method="POST">
                <button type="submit" class="btn btn--action"><i class="fas fa-trash-alt" style="color: red;"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- visited status -->

<hr>
<!-- comment -->
<input type="checkbox" class="show comment" id="comment">
<button class="btn btn--action">
    <label for="comment"><i class="fas fa-comment-dots white"></i></label>
</button>
<div class="hide">
    <form action="/cities/{{ city.id }}/comment" method="POST">
        <textarea name="comment" id="comment" cols="30" rows="10">{{ city.comment }}</textarea>
        <button type="submit" class="btn btn--action">
            <i class="far fa-plus-square" style="color: rgb(28, 111, 28);"></i>
        </button>
    </form>
</div>

<hr>
<!-- ADD Sight button -->
<div class="add-container">
    <button type="button" class="btn btn--action">
        <a href="/sights/{{ city.id }}/new"><i class="fas fa-plus-square" style="color: orange;"></i></a>
    </button>
    <h4>Add Sight to list</h4>
</div>
<h4>Sights:</h4>
{% for sight in sights %}
<section style="border-color: {{ 'green' if sight.visited == true else 'red'}};">
    <div class="panel-container">
        <div class="left-side">
            <div class="place-link country-container">
                <a href="/sights/{{ sight.id }}">{{ sight.name }}</a>
            </div>
        </div>
        <div class="right-side">
            <div class="comment-container">
                <input type="checkbox" class="show comment" id="comment{{ sight.id }}">
                <button class="btn btn--action">
                    <label for="comment{{ sight.id }}"><i class="fas fa-comment-dots white"></i></label>
                </button>
                <div class="hide cloud">
                    <p>{{ sight.comment }}</p>
                </div>
            </div>
            <div class="visit">
                <div class="not-visited" style="display: {{ 'none' if sight.visited == true }};">
                    <i class="fas fa-times" style="color: red"></i>
                    <label for="visited">Not Visited</label>
                    <form action="/sights/{{ sight.id }}/visit" method="POST">
                        <button class="btn btn--action" type="submit">
                            <i class="fas fa-exchange-alt" style="color: green;"></i>
                        </button>
                    </form>
                </div>
                <div class="visited" style="display: {{ 'none' if sight.visited == false }};">
                    <i class="fas fa-check-circle" style="color: green"></i>
                    <label for="visited">Visited</label>
                </div>
            </div>
            <div class="trash">
                <form action="/sights/{{ sight.id }}/delete" method="POST">
                    <button type="submit" class="btn btn--action"><i class="fas fa-trash-alt" style="color: red;"></i></button>
                </form>
            </div>
        </div>
        
    </div>
</section>
<hr>
{% endfor %}

{% endblock %}