{% extends "base.html" %}

{% block content %}

<h2>Add New Sight</h2>

<form action="/sights" method="POST">
  <!-- cities dropbox -->
  <label for="cities">Select a City:</label>
    <select name="city_id" id="city">
        {% for city in cities %}
        <option value="{{ city.id }}" {% if sel_city.id == city.id %}
          selected="selected"
        {% endif %}>
          {{ city.name }}
        </option>
        {% endfor %}
    </select>
    <br>
  <!-- name field -->
    <div class="central">
      <label for="name">Name of the Sight:</label>
      <input type="text" id="name" name="name" required autofocus>
      <button type="submit" class="btn btn--action">
        <i class="far fa-plus-square" style="color: rgb(28, 111, 28);"></i>
      </button>
    </div>
    
  <!-- visited checkbox -->
    <br>
  <!-- comment field-->
    <label for="comment">Comment:</label>
    <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
    
</form>

{% endblock %}