body {
    background-color: lightblue;
}
.menu {
    list-style-type: none;
    padding-inline-start: 10px;
}
.menu > li {
    margin: 2px;
    background-color: rgb(212, 239, 250);
    border-style: solid;
    border-color: dodgerblue;
    border-width: 3px;
    border-radius: 10px;
}
.menu > li a {
    text-decoration: none;
    padding: 7px;
}
.menu > li a:hover {
    font-weight: bold;
    color: black;
}
h1 {
    margin-left: 15px;
}
.central {
    display: flex;
    align-items: center;
}
.central-btn {
    background-color: rgba(22, 22, 187, 0.824);
    font-size: 20px;
    border-style: groove;
    border-width: 2px;
    border-color: darkslateblue;
    border-radius: 7px;
    margin: 3px;
    padding: 2px 20px;
    transition-duration: 0.5s;
}
.central-btn:hover {
    background-color: blueviolet;

}

.central-btn a {
    color: white;
    text-decoration: none;
}
.btn {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 5px;
    display: flex;
    align-items: center;
}
.btn a {
    font-size: 30px;
    
}
.btn i {
    font-size: 30px;
}
.fas {
    font-size: 30px;
    margin: 10px;
}
.add-container {
    display: flex;
    align-items: center;
}
section {
    background-color: rgb(255, 144, 103);
    width: 700px;
    border-style: solid;
    border-width: 4px;
    /* border-color:red; */
    border-radius: 20px;
    margin:2px;
}
.panel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Parent's name */
.continent-container {
    margin-left: 10px;
}
.country-container {
    margin-left: 10px;
}
.return-btn {
    padding: 0 2px;
}
.return-btn a {
    color: darkslateblue;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition-duration: 0.6s;
}
.return-btn a:hover {
    color: black;
}
/* Object's name */
.place-link {
    display: flex;
    padding: 2px;
    justify-content: center;
}
.place-link a {
    color: darkslateblue;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.6s;
}
.place-link a:hover {
    color: black
}
/* Children names */
.cities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.comment-container {
    height: 50px;
    display: flex;
}
.visited {
    display: flex;
    align-items: center;
    padding: 0 4px;
}
.not-visited {
    display: flex;
    align-items: center;
    padding: 0 4px;
}
/* Delete button */
.trash {
    margin-right: 10px;
}
/* Edit */
.confirm-btn {
    display: flex;
    justify-content: flex-end;
}
.show {display:none;}
.hide {display:none;}
    
.hide p {
    margin: 0;
    padding: 6px;
    overflow-y: scroll;
}
.cloud {
    background-color: white;
    border-style: ridge;
    border-color: skyblue;
    border-radius: 30px;
    margin: 0 6px;
    overflow-y: scroll;
}
.show:checked~.hide{display:block;}

#show-search,#hide-search{display:none;}
#show-search:checked~#hide-search{display:block;}

#show,#content{display:none;}
#show:checked~#content{display:block;}

