{% extends "base.html" %}

{% block content %}

<ul>
    <li>
        <div class="tab-container">
            <a href="/countries">Show Countries</a>
        </div>
    </li>
    <li>
        <div class="tab-container">
            <a href="/countries/new">Add New Country</a>
        </div>
    </li>
    <li>
        <div class="tab-container">
            <a href="/cities/visited">Cities You Visited</a>
        </div>
    </li>
    <li>
        <div class="tab-container">
            <a href="/cities/not-visited">Cities You Plan to Visit</a>
        </div>
    </li>
</ul>
This will be the home page. 

{% endblock %}