{% extends "base.html" %}

{% block content %}

<div class="main-container">
    <section>
        <div class="city-container">
            <div class="place-link">
                <a href="/cities">Show Cities</a>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="city-container">
            <div class="place-link">
                <a href="/countries">Show Countries</a>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="city-container">
            <div class="place-link">
                <a href="/countries/new">Add New Country</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}